@charset "UTF-8";

body {
            background-color: lightgoldenrodyellow;
            font-family: arial;
            font-size: 20px;
        }

        h1 {
            color: maroon;
            background-color: goldenrod;
        }

        p {
            text-align: justify;
        }

        h2 {
            color: darkred;
        }