@charset "UTF-8";

* {
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #EED9C5, #EEC4A5);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8b7361a9;
}

h1 {
    color: #F09204;
    text-align: center;
    text-shadow: 1px 1px 2px #9a5e0477;
}

h2 {
    color: #0F5186;
}

p {
    text-align: justify;
}